SECRET_KEY=django-insecure-replace-this-with-a-real-secret-key

# Set to 'false' in production
DEV_MODE=true
TEST_OTP=123456

# PostgreSQL (prod only)
PG_DB=topupnaija
PG_USER=postgres
PG_PASSWORD=
PG_HOST=localhost
PG_PORT=5432

# Allowed hosts (prod)
ALLOWED_HOSTS=topupnaija.com,api.topupnaija.com

# SMS — Africa's Talking
AT_API_KEY=
AT_USERNAME=your_at_username
AT_SENDER_ID=TopUpNaija

# Gladtiding
GLADTIDING_API_KEY=
GLADTIDING_BASE_URL=https://gladtidingsdata.com/api
