SECRET_KEY=django-insecure-replace-this-with-a-real-secret-key

# Set to 'false' in production
DEV_MODE=true
TEST_OTP=123456

# PostgreSQL (prod only)
PG_DB=topupnaija
PG_USER=postgres
PG_PASSWORD=
PG_HOST=localhost
PG_PORT=5432

# Allowed hosts (prod)
ALLOWED_HOSTS=topupnaija.com,api.topupnaija.com

# SMS — Termii
TERMII_API_KEY=
TERMII_SENDER_ID=TopUpNaija

# VTPass
VTPASS_API_KEY=
VTPASS_SECRET_KEY=
VTPASS_BASE_URL=https://sandbox.vtpass.com/api
